[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/snipmate-snippets/snippets"]
	path = .vim/bundle/snipmate-snippets/snippets
	url = git://github.com/spf13/snipmate-snippets.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/spf13/nerdtree.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/checksyntax"]
	path = .vim/bundle/checksyntax
	url = http://github.com/tomtom/checksyntax_vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/spf13/vim-markdown.git
[submodule ".vim/bundle/vim-colors"]
	path = .vim/bundle/vim-colors
	url = git@github.com:cybo42/vim-colors.git
[submodule ".vim/bundle/2.slimv"]
	path = .vim/bundle/2.slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule ".vim/bundle/1.vimclojure"]
	path = .vim/bundle/1.vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-screen-slime"]
	path = .vim/bundle/vim-screen-slime
	url = git@github.com:cybo42/vim-screen-slime.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/vim-scripts/speeddating.vim.git
[submodule ".vim/bundle/scala-vim"]
	path = .vim/bundle/scala-vim
	url = https://github.com/akhil/scala-vim-bundle.git
[submodule ".vim/bundle/conque"]
	path = .vim/bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/AnsiEsc"]
	path = .vim/bundle/AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
